// cards variables
$app-font:'Raleway';
$pink-btn-font-size:16px;
// content_dashboard
//cards end
// content_dashboard ends
$card-padding:1rem;
$element-top-margin:1.3rem;
$element-bottom-margin:'';
$card-bg-color:'';
$card-link-color:'';
$card-link-color-light:'';
$logoPageBackgroundColor: #252b33;
$landingPageBackground: #383a49;
$LogoColor:#fc3768;
// $header-bg-color-bottom:rgb(176, 66, 86);
$header-bg-color-bottom:#b3465d;
// $header-bg-color-top: rgb(203, 66, 127);
$header-bg-color-top:#ce4283;
// $header-search-bg-color:rgb(51, 52, 65);
$header-search-bg-color:#333441;
$body-bg:#383a49;
$search-button-area-height:160px;
$search-button-color:#d05d84;
$input-base-color:white;
$input-accent-color:white;
$sm:'(mim-width:576px)';
$md:'(mim-width:768px)';
$lg:'(mim-width:992px)';
$xl: '(min-width:1471px)';
$m-768:'(max-width:767px)';
$foort-height-for-md-above: 80px;
$image-overlay-color:rgba(49, 49, 49, 0.49);
$modal-background-color: rgba(35, 50, 60, .6);
$card-overlay:rgba(70, 70, 70, .4);